* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
img {
  max-width: 100%;
}
li {
  list-style-type: none;
}
.flexbox-section {
  margin: 20px;
}
.flexbox-list {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
.flexbox-item {
  width: 250px;
  
  padding: 20px;
}
.flexbox-item p {
  text-align: justify;
}
.flexbox-item:first-child {
  flex-grow: 2;
}

.grid-section {
  margin: 20px;
}
.grid-list {
  display: grid;
  margin-top: 20px;
  margin-bottom: 50px;
  gap: 20px;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}
/* .grid-item, li { 
  width: 200px;
} */
.grid-item p {
  text-align: justify;
}
@media (max-width: 1023px) {
  .grid-list {
    grid-template-columns: repeat(3, minmax(200px, 1fr))
  }
  .flexbox-item:nth-child(1), .flexbox-item:nth-child(2) {
    flex-grow:2;
  }
}
@media (max-width: 599px) {
  .grid-list {
    grid-template-columns: repeat(1, minmax(min(10rem, 100%), 1fr))
  }
  
}
